# linux: apt-get install libevent1-dev python-virtualenv python2.7-dev openjdk-7-jdk libxslt1-dev postgresql-9.1 libpq-dev git ssh nginx

# mac: first install xcode homebrew xcode command line tools 
# brew install git nginx postgresql libevent libxslt python
# brew link python
# brew install postgres --use-gcc --no-perl 
# sudo easy_install virtualenv pip
# create virtualenv with the brew python not system python
# execute python setup.py install in jnius source
# ?? export cc=/CLANG_PATH ??

simplejson==1.9.3
django
wadofstuff-django-serializers

gunicorn
fabric


-e git+http://github.com/kivy/pyjnius#egg=jnius
beautifulsoup4

psycopg2

gevent  
-e git+https://github.com/john-kurkowski/tldextract#egg=tldextract
-e git+https://github.com/srlindsay/gevent-profiler#egg=python-gevent-profiler
gevent-psycopg2
-e git+https://github.com/abourget/gevent-socketio.git#egg=socketio

xlrd

lxml
http://labix.org/download/python-dateutil/python-dateutil-1.5.tar.gz#egg=dateutil

#-e git+https://github.com/AirSage/Petrel.git#egg=petrel
-e git+https://github.com/Timewire/Petrel.git#egg=petrel

# dev
ipython
ipdb
