html,body {
    height:100%;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #FFFAF1;
    margin:0px;
}
.timeline_container{
    top: 90%;
    position:absolute;
    width:94%;
    min-width: 1000px;
    left:3%;
    height: 24px;
    background-color: #f6f6f6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #aeaeae;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #aeaeae;
}
#active_region {
    position: absolute;
    width:94%;
    left:3%;
    height: 24px;
}
.timeline {
    position: fixed;
    //width:94%;
    //left:3%;
    height: 24px;
    z-index: 1;
    cursor: move;
}
.timeline h3 {
    
}
.zoom {
    background-image: url('/static/assets/smaller_round_zoom.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 5px;
    top: 5px;
    position:relative;
}
.zoom_button {
    cursor: pointer;
    width: 40px;
    height: 50px;
    position:absolute;
    left: 5px;
    z-index: -100;
    transition: all 1s ease;
    opacity: 0;
}
.zoom_in {
   top: -40px; 
   background-image: url('/static/assets/zoom_in.png');
   background-repeat: no-repeat;
}
.zoom_out {
   top: 40px;
   background-image: url('/static/assets/zoom_out.png');
   background-repeat: no-repeat;
}
.markers {
    background-image: url('/static/assets/timeline_marker.png');
    width:100%;
    height: 9px;
    position: absolute;
}
.event_text_box {
    overflow: hidden;
    height: 100%;
    margin: 5px;
    font-family:"Merriweather";
    font-size: .9em;
    text-align: center;
}
.event_box {
    position:absolute;
    background: #ffffff;
    border: 1px solid #aeaeae;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.marker {
    background: url('/static/assets/marker_for_div.png') repeat-y;
    width:1px;
    position: absolute;
    z-index: -1;
}
.date_marker {
    background: url('/static/assets/marker_for_date.png') repeat;
    width: 2px;
    position: absolute;
}
.date_box {
    height:22px;
    top:0px;
    margin-top:1px;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.date_box h3 {
    font-family:"Open Sans";
    font-size: .7em;
    font-weight: 100;
    margin: 0px;
    height: 11px;
    padding: 0px;
    line-height: 11px;
}

.markers-top {
    top: -9px;   
}
.markers-bottom {
    bottom: -9px;
}

.round_end_left {
    background-repeat: no-repeat;
    background-image: url('/static/assets/round_start.png');
    position: absolute;
    top: -15px;
    left: -25px;
    width: 50px;
    height: 50px;
}
.round_end_right {
    background-repeat: no-repeat;
    background-image: url('/static/assets/round_end.png');
    position: absolute;
    top: -15px;
    right: -25px;
    width: 50px;
    height: 50px;
}
.ui-show {
    opacity: 1;
    transition: all 1s ease; // You should probably browser-prefix this
}
